body {
   background: radial-gradient(ellipse at top, #16b68b, 5%, #021210 75%, #000000 100%);
    color: #ffffff !important;
    min-height: 100vh;
    margin: 0;
}

.topnav {
    background-color: #021210;
    overflow: hidden;
}

.topnav a {
    min-height: 20px;
    
    float: right;
    color: #16b68b;
    text-align: center;
    padding: 24px 20px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ffffff;
    color: #021210;
}

.topnav a.active {
    background-color: #1fffbf;
    color: #ffffff;
}

.hero-section {
    position: relative;
    text-align: center;

}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
}

.hero-header {
    font-size: 7rem;
    margin-top: 0.50em;
}

.hero-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    
}

.hero-btn {
   
}

